.main-left {
  min-width: 16.375rem;
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  border-right: 1px solid hsl(0, 0%, 80%);
}

.main-left-resizer {
  flex: 0 0 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.main-left-resizer:hover {
  width: 3px;
  background: #c1c3c5b4;
}

.main-left .main-left-content {
 // flex: 1;
}

@mixin main-left-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3.375rem;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-left: 1rem;
}

@mixin main-left-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  line-height: 25px;
}

@mixin main-left-add-icon-style {
  height: 2.5rem !important;
  justify-content: space-between;
  padding-right: 10px;
}

.main-left-top-logo-wrapper {
  @include main-left-contents;
}

.main-left-top-logo {
  padding: 0;
  background-color: #FFF!important;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.12);
  width: 30px;
  height: 30px;
  line-height: 27px;
  display: inline-block;
  margin-right: 4px;
  -webkit-transform: translateX(1px);
  transform: translateX(1px);
  text-align: left;
  box-sizing: border-box;
  display: flex;
  font-weight: 600;
  gap: 1rem;
  pointer-events: auto!important;
  cursor: not-allowed!important;
  img {
    width: 2rem;
  }
}

.main-left-search-button {
  @include main-left-contents;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;
  button {
    height: 32px;
    border-radius: 16px;
    background-color: #F2F4F8;
    color: #65686C;
    width: 100%;
    font-weight: 400;
    text-align: left;
    padding: 6px 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  span {
    color: #65686C;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
  }
}

.main-left-topic {
  @include main-left-contents;
  @include main-left-title;
  @include main-left-add-icon-style;
}

.main-left-chat {
  @include main-left-contents;
  @include main-left-title;
  @include main-left-add-icon-style;
}

.main-left-add-icon {
  font-size: 16px;
  border-radius: 50%;
  background: #F2F4F8;
}

.main-left-add-icon::before {
  content: "\002b";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.main-left-icon-circle {
  font-size: 16px;
  border-radius: 50%;
  background: #F2F4F8;
  cursor: pointer;
  i {
    width: 26px;
    height: 26px;
    display: block;
    line-height: 27px;
    text-align: center;
    color: #333;
  }
}