.main-right {
  border-left: 1px solid hsl(0, 0%, 80%);
  width: 3.5rem;
  position: absolute;
  z-index: 600;
  //min-height: 33.875rem;
  //max-height: 43.75rem;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-right-icon-circle {
  height: 40px;
  width: 40px;
  font-size: 14px;
  line-height: 36px;
  padding: 3px;
  color: #333;
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #F2F4F8;
  border-radius: 50%;
  z-index: 1;
  margin: 0.8rem auto;
}

.main-right-menu-setting {
  display: block;
  text-shadow: 0 1px 0;
  line-height: inherit;
  -webkit-transform: scale(1.15,.85) translate(0,0);
  transform: scale(1.15,.85) translate(0,0);
  font-family: icomoon!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-right-icon-top-wrapper {
  display: table-row;
  list-style: none;
}

.main-right-menu-setting:before {
  content: '\e957';
}

.main-right-menu-search:before {
  content: '\e960';
}