.main-left {
  height: 20rem;
  min-width: 16.375rem;
  max-width: 18.75rem;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  //min-height: 33.875rem;
  //max-height: 43.75rem;
}

.main-left .main-left-resizer {
  flex: 0 0 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.main-left .main-left-resizer:hover {
  width: 3px;
  background: #c1c3c5b4;
}

.main-left .main-left-content {
  flex: 1;
}

.main-left-top-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3.375rem;
  border: 1px solid red;
  padding-left: 1rem;
}

.main-left-top-logo {
  padding: 0;
  background-color: #FFF!important;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.12);
  width: 30px;
  height: 30px;
  line-height: 27px;
  display: inline-block;
  margin-right: 4px;
  -webkit-transform: translateX(1px);
  transform: translateX(1px);
  text-align: left;
  box-sizing: border-box;
  img {
    width: 2rem;
  }
}