.main-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-center-odaeri {
  background: center/contain url(https://cdn.jandi.com/app/assets/images/sticker/c768526b.odaeri_entry.png) no-repeat;
  width: 376px;
  height: 320px;
  margin: 0 auto;
}

.main-center-entry-message {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #a2a2a2;
  span {
    font-size: 20px;
    margin: 32px 0;
    display: block;
    color: #00c473;
    font-weight: 700;
  }
}
