@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'signin';
@import 'mainleft';
@import 'maincenter';
@import 'mainright';
@import 'mainpage';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}