.sign-in-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38rem;
  div > div > button {
    border-radius: 50px;
    color: #fff;
    background-color: #99e7c7;
    outline: none;
    border: 0;
    width: 100%;
    height: 3rem;
    margin-top: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
  }
  section {
    margin-top: 1rem;
    text-align: center;
    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.sign-in-box {
  width: 25.3rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.sign-in-input {
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
  border: 1px solid #e0e4ed;
  font-size: 1rem;
  padding: 0 1rem;
}

.sign-in-input:focus {
  outline: none !important;
  //border-color: rgb(0, 196, 114);
  border: 2px solid rgb(0, 196, 114);
}

.sign-in-form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  div > label > span {
    font-size: 0.8rem;
    color: rgb(51, 51, 51);
    font-weight: 400;
    padding: 0.5rem;
  }
  div > a {
    font-size: 0.8rem;
    color: rgb(162, 162, 162);
    font-weight: 400;
  }
  div > label {
    margin-right: 1rem;
  }
}

.sign-in-round-checkbox input[type=checkbox]+label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.sign-in-round-checkbox label:before {
  width: 18px;
  height: 18px;
}

.sign-in-round-checkbox input[type=checkbox]+label:before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ced1d7;
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: -18px;
}

.sign-in-round-checkbox input:checked+label:after {
  left: -18px;
  top: 0;
  width: 18px;
  height: 18px;
  background-size: 100%;
  background-position: 50%;
}

.sign-in-round-checkbox input[type=checkbox]:checked+label:after {
  background: url(https://cdn.jandi.com/landing/_next/static/media/filled-check-green.335532b07b1f1b741c5f82c9f9012313.png) no-repeat;
  background-position: 50%;
  position: absolute;
  content: "";
}

.sign-in-arrow:before {
  content: ' \2197';
}

header {
  text-align: center;
  height: 3.75rem;
  font-size: .82rem;
  background-color: #fff;
}

nav {
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 1.5rem;
  align-items: center;
  max-width: 78rem;
  justify-content: flex-start;
}

.sign-in-logo {
  margin-right: 1.875rem;
}

.sign-in-link-contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
} 

.sign-in-link-contents-app {
  display: flex;
  gap: 2rem;
}

.sign-in-arrow-down {
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-left: 4px;
  background-image: url(https://cdn.jandi.com/landing/_next/static/media/arrow-down.83d69a5d52df947c39c7e21e3507d825.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.sign-in-new-icon {
  vertical-align: middle;
  margin: 0 4px;
}

.sign-in-new-icon:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(https://cdn.jandi.com/landing/_next/static/media/new-mark.352c5399cb21b777a0d1498a22f974ad.svg) no-repeat 50%;
  background-size: contain;
}