.sign-in-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border:1px solid red;
  width: 100%;
  height: 38rem;
  div > div > button {
    border-radius: 50px;
    color: #fff;
    background-color: #99e7c7;
    outline: none;
    border: 0;
    width: 100%;
    height: 3rem;
    margin-top: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
  }
  section {
    margin-top: 1rem;
    text-align: center;
    span {
      font-weight: 600;
    }
  }
}

.sign-in-box {
  width: 25.3rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.sign-in-input {
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
  border: 1px solid #e0e4ed;
  font-size: 1rem;
  padding-left: 1rem;
}

.sign-in-form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  div > label > span {
    font-size: 0.8rem;
    color: rgb(51, 51, 51);
    font-weight: 400;
  }
  div > a {
    font-size: 0.8rem;
    color: rgb(162, 162, 162);
    font-weight: 400;
  }
  div > label {
    margin-right: 1rem;
  }
}
